<div style="text-align: left; ">
	<head>
		<title> Screening questionnaire administration</title>
	</head>
</div>

<h3>Welcome to the Screener administrative page</h3>
<p>
 	{{ current_date }}
</p>
<p>
 	This computer's host name: {{ thishost }}
</p>
<p>This is a test site for the BRCA screening questionnaire prototype.</p>
<p>This server has been dismantled.</p>
<p>Here are the things you can do on this page:</p>


</div>

<STYLE TYPE="text/css">
<!--
.indented
   {padding-left: 50pt;
   padding-right: 50pt;
   }
-->
</STYLE>