<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<html>
<body>

<div style="text-align: left; ">
	<head>
		<title> Multi-questionnaire administration</title>
	</head>
</div>

<STYLE TYPE="text/css">
.indented
   {padding-left: 40pt;
   padding-right: 50pt;
   }
h4.nonindented
   {padding-left: 15pt;
   padding-right: 50pt;
   }
.indented2
   {padding-left: 60pt;
   padding-right: 50pt;
   font-size:90%;
   }
</STYLE>
<h2>This page is being dismantled</h2>
<p>
 	This computer's host name: {{ thishost }}. {{ current_date }} 
</p>

{% if projectName or questionnaireName %}
<p>{% if projectName %}The current Project is:  {{projectName}}. {% endif %}
{% if questionnaireName %} The current Questionnaire is:  {{questionnaireName}}. {% endif %}
</p>
{% endif %}

<div>
</div>

{% include 'footer.html' %}

